@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

header{  
   width: 100%;
   z-index: 999;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0px 100px;
   height: 27vh;
}

.navigation a{
   color: rgb(0, 0, 0);
   text-decoration: none;
   font-weight: 500;
   padding-left: 30px;
   position: relative;
   display: inline;
}

.navigation a:hover{
   transition: 0.4s;
   color: #285796;
}

.propos {
   position: relative;
   text-decoration: none;
   display: inline;
}

.links {
   display: none;
   position: absolute;
   top: 100%;
   left: 0;
   background-color: #285796;
   background-size: contain;
   width: 20vh;
   padding: 5px;
   border: 1px solid #ccc;
   border-radius: 5px;
}

.links a{
   color: #ffffff;
   display: block;
   border-radius: 5px;
}

.links a:hover{
   background-color: black;
   background-position: 100%;
   color: #ffffff;
}

.propos:hover .links{
   display: block;
}

.login{
   background-color:  #285796;
   color:rgb(242, 232, 232);
   text-decoration: none;
   font-weight: bold;
   padding: 0.81rem 1.87rem ;
   border-radius: 30px;
   transition : 0.4s;
   border: 1px solid transparent;
}

.login:hover{
   background-color: transparent;
   border: 1px solid #285796;
   color: #285796;
}

.social1 a img:hover{
   transform: scale(1.2);
}

section{
   background-image: url(../image/home.png);
   background-position: center;
   background-repeat: no-repeat;
   background-blend-mode: color;
   height: 85vh;
}

.container{
   background-color: #285796;
   width: 55%;
   transform: translateY(450px);
   height: 25vh;
   border-top-right-radius: 20px;
   align-items: center;
}

.container h1{
   color: white;
   transform: translate(400px, 50px);
   font-family: 'Lato';
   
}

.cotation{
   transform: translateX(700px);
}

.cotation a{
   background-color:  #ffffff;
   color:#285796;
   text-decoration: none;
   font-weight: bold;
   border-radius: 15px;
   transition : 0.4s;
   padding: 1.5rem 2.5rem ;
   border: 1px solid #285796;
}

.cotation a:hover{
   background-color: #285796;;
   border: 1px solid #ffffff;
   color: #ffffff;
}

.transport{
   background-color: transparent;
   transform: translateY(100px);
   background-color: #285796;
   height: 36vh;
   width: 100%;
   border-radius: 20px;
   display: flex;
}

.transport img{
   border-radius: 15px;
   transform: translateX(-120%);
}

.transport h1{
   transform: translate(700px, 40px);
   color: white;
   font-family: 'Lato';
}

.transport h1 span{
   transform: translateY(50px);
   font-family: 'Lato';
   color: #a1c6f6;
   font-size: 20px;
}

.logistique{
   background-color: transparent;
   transform: translateY(120px);
   background-color: #285796;
   height: 36vh;
   width: 100%;
   border-radius: 20px;
   display: flex;
}

.logistique img{
   border-radius: 15px;
   transform: translateX(110%);
}

.logistique h1{
   transform: translate(100px, 40px);
   color: white;
   font-family: 'Lato';
}

.logistique h1 span{
   transform: translateY(50px);
   font-family: 'Lato';
   color: #a1c6f6;
   font-size: 20px;
}

.map a{
   transform: translateY(150px);
   background-color:  #ffffff;
   color:#285796;
   border: 1px solid #285796;
   text-decoration: none;
   font-weight: bold;
   padding: 0.81rem 1.87rem ;
   border-radius: 15px;
   transition : 0.4s;
   border: 1px solid #285796;
   display: flex;
   height: 10vh;
}

.map a:hover{
   background-color: #285796;
   color: #ffffff;
}

.map a h1{
   transform: translateX(450px);
}

.map img{
   transform: translate(100px, 180px);
}

.d1{
   background-image: url(../image/sec/Diapositive1.png);
   height: 40vh;
   width: 69vh;
   border-radius: 15px;
   transform: translate(100px, 100px);
   display:inline-block;
   font-size: 12px;
}

.d1 h1{
   color:black;
   background-color: #285796;
   transform: translateY(225px);
   height: 10vh;
   width: 60vh;
   border-top-right-radius: 20px;
}

.d1 h1:hover{
   background-color: #a1c6f6;
}

.d2{
   background-image: url(../image/sec/Diapositive2.png);
   height: 40vh;
   width: 69vh;
   border-radius: 15px;
   transform: translate(700px, -66%);
   font-size: 12px;
}

.d2 h1{
   color:black;
   background-color: #285796;
   transform: translateY(225px);
   height: 10vh;
   width: 60vh;
   border-top-right-radius: 20px;
}

.d2 h1:hover{
   background-color: #a1c6f6;
}

.d3{
   background-image: url(../image/sec/Diapositive3.png);
   height: 40vh;
   width: 69vh;
   border-radius: 15px;
   transform: translate(100px, -50%);
   display:inline-block;
   font-size: 12px;
}

.d3 h1{
   color:black;
   background-color: #285796;
   transform: translateY(225px);
   height: 10vh;
   width: 60vh;
   border-top-right-radius: 20px;
   
}

.d3 h1:hover{
   background-color: #a1c6f6;
}

.d4{
   background-image: url(../image/sec/Diapositive4.png);
   height: 40vh;
   width: 69vh;
   border-radius: 15px;
   transform: translate(700px, -150%);   
   font-size: 12px;
}

.d4 h1{
   color:black;
   background-color: #285796;
   transform: translateY(225px);
   height: 10vh;
   width: 60vh;
   border-top-right-radius: 20px;
}

.d4 h1:hover{
   background-color: #a1c6f6;
}

.solution {
   background-color:#285796;
   color:#ffffff;
   text-decoration: none;
   font-weight: bold;
   border-radius: 15px;
   transition : 1s;
   padding: 1.5rem 2.5rem ;
   transform: translateY(150px);
   height: 120vh;
}

.solution:hover{
   background-color:#a1c6f6;
   color:#285796;
   border: 1px solid #285796;
}

.solution img{
   transform: translate(170px,50px);
   border-radius: 50px;
   width: 70vh;
   padding: 5px;
}

.solution img:hover{
   transform: scale(1.2);
   transition: 0.4s;  
}

.contact{
   width: 100%;
   background-color: #285796;
   height: 70vh;
   transform: translateY(200px);
}

.contact img{
   transform: translate(100px, 50px);
   border-radius: 30px;
}

.social{
   transform: translateY(40px);
}

.social h1{
   font-size: 20px;
   transform: translate(100px, 70px);
   font-family: 'Lato';
   color: white;
}

.social .inscrit{
   display: inline-block;
   font-size: 25px;
   transform: translate(650px, 70px);
   font-family: 'Lato';
   color: white;
}

.social .inscrit span{
   font-size: 17px;
   transform: translate(800px, 70px);
   font-family: 'Lato';
   color: #a1c6f6;
}

input{
   transform: translate(400px, 110px);
}